.buton-header-1{
  cursor: pointer;
  position: relative;
}

.buton-header-1::before{
  content: "";
  background-color: rgb(4, 29, 130);
  position: absolute;
  left: 0;
  bottom: 0rem;
  height: 3px;
  width: 0;
  transition: 0.3s ease-in-out;
}

.buton-header-1:hover::before{
  content: "";
  background-color: rgb(4, 29, 130);
  position: absolute;
  left: 0;
  bottom: 0rem;
  height: 3px;
  width: 100%;
}

.buton-header-2{
  cursor: pointer;
  position: relative;
}

.buton-header-2::before{
  content: "";
  background-color: rgb(4, 29, 130);
  position: absolute;
  left: 0;
  bottom: 0rem;
  height: 3px;
  width: 0;
  transition: 0.3s ease-in-out;
}

.buton-header-2:hover:before{
  content: "";
  background-color: rgb(4, 29, 130);
  position: absolute;
  left: 0;
  bottom: 0rem;
  height: 3px;
  width: 100%;
}