.slider-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.slider-nav li {
  display: inline;
}
.slider-nav button {
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  color: #1c1c7d;
  margin: 0, 2rem;
}

.slider-nav button::after {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.slider-nav button:hover::after {
  transform: scale(1);
}

.slider-nav button:active::after {
  color: #2525ab;
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #1c1c7d;
}

.card-slider {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.titlu-card {
  color: #fff;
  margin-bottom: 0.5rem;
}

.descriere-card {
  color: #fff;
  margin-bottom: 0.5rem;
}

.icon-ford {
  width: 200px;
  object-fit: contain;
}

.card-btn {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  background-color: #28a1e7e6;
  padding: 2rem;
  border-radius: 10px;
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: calc(90% / 3);
  max-width: 250px;
  margin: 0 auto;
  transition: background-color 0.3s ease-in-out;
}

.content:hover {
  background-color: #207fb6e6;
}

.pre-btn,
.next-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 1rem;
}

.pre-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.card-buy-btn {
  border: none;
  border-radius: 15px;
  background-color: #dcdcdc;
  color: #000000;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease-in-out;
}

.card-buy-btn:hover {
  background-color: #0657d9;
  color: #fff;
}

.card-buy-btn:active {
  background-color: #dcdcdc;
  color: #000000;
}

.card-test-btn {
  border: none;
  border-radius: 15px;
  background-color: #0657d9;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease-in-out;
}

.card-test-btn:hover {
  background-color: #dcdcdc;
  color: #000000;
}

.card-test-btn:active {
  background-color: #0657d9;
  color: #dcdcdc;
}

.slider-container {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0 3rem;
}
.slider-container::-webkit-scrollbar {
  display: none;
}
